@model Silas.Models.Offers.Offer

<div class="alert alert-success">
    La oferta con título: <strong>@Model.title</strong> ha sido eliminada correctamente.
</div>

<a class="btn btn-primary" href="#" onclick="backToCompanyDetails(); return false;">Volver a la empresa</a>

<script>
    function backToCompanyDetails() {
        $.get('/NavButtons/OnClick', { title: 'EmpresaDetalle', id: '@Model.id_company' }, function (data) {
            $('#central_panel').html(data);
        });
    }
</script>
