@model Silas.ViewModels.HeaderViewModel

<!-- BOTON PERFIL CON DROPDOWN -->
<div class="header-button profile-container">

    <!-- FOTO -->
    <img class="profile-pic" src="/images/avatar.jpg" alt="Foto perfil" />

    <!-- NOMBRE DEL USUARIO LOGADO -->
    <div class="profile-name">@Model.userName</div>

    <!-- MENÚ -->
    <div class="profile-dropdown" style="z-index:999">
        <ul>
            <li>Perfil (@Model.userRole)</li>
            <li>Configuración</li>
            <li>Logout</li>
        </ul>
    </div>

</div>
